{
  "plugins": [
    [
      "@babel/plugin-proposal-pipeline-operator",
      { "proposal": "minimal", "topicToken": "^^" }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
